* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "sofia-pro", Helvetica, Arial, sans-serif;
 	-webkit-user-select: none;  	
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
body{
	margin: 0;
	font-weight: 600;
}

.loginBackground{
	width: 100%;
	height: 100vh;
	background-image: url("https://s3-eu-west-1.amazonaws.com/libelios.web/static/app/img/fondo-login.jpg");
	background-size: cover;
	background-position: center center;
	position: absolute;
}

.loginWindow{
	background-color: white;
	width: 412px;
	height: 382px;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(50vh - 181px);
	box-shadow: 2px 6px 16px 0px rgba(0,0,51,026);
}

.loginLogo{
	height: 128px;

}

.loginLogo div{
	width: 212px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 33px;
}

.active{
	width: 412px;
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: visible;
	-webkit-transition: left 0.5s ease-out 0.75s;
}

.inactive{
	width: 412px;
	position: absolute;
	visibility: hidden;
	top: 0px;
	left: -385px;
	-webkit-transition: left 0.5s ease-in 0s, visibility 0s ease-out 0.5s;
}

.loginData{
	height: 188px;
	position: relative;
	overflow: hidden;
}

.loginData span{
	margin-bottom: 11px;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.loginData input[type=text], .loginData input[type=password]{
	width: 346px;
	margin-bottom: 11px;
	margin-left: 33px;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;
	padding-left: 6px;
}

.loginData input[type=text]:-webkit-autofill, .loginData input[type=password]:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;
}

.loginDataBottom input[type=submit]{
	position: absolute;
	right: 33px;
	width: 126px;
	height: 30px;
	background-color: #16c479;
	color: white;
	border-width: 0px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.enterButton{
	text-align: center;
}

.enterButton input[type=submit]{
	width: 126px;
	height: 30px;
	background-color: #16c479;
	color: white;
	border-width: 0px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.loginData input[type=submit]:hover{
	box-shadow: 0px 0px 9px 0px rgba(38, 34, 85, 0.7); 
}

.loginDataBottom{
	position: relative;
}

.loginError{
	width: 210px;
	position: absolute;
	top: 0;
	left: 34px;
	font-weight: 400;
	font-size: 13px;
	color: rgb(224, 105, 105);
}


.loginPlus{
	height: 66px;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
}

.loginRecover{
	color: #666666;
	cursor: pointer;
}

.loginCreate{
	color: #333333;
}

.loginCreateLink{
	color: #16c479;
	cursor: pointer;
}

#header{
	width: 100%;
    height: 34px;
    background-color: #ffffff;
    box-shadow: 0px 0px 35px #8b8b94;
    position: relative;
    z-index: 5;
}

#header-logo{

}

#header-menu{
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 30px;
	color: #12004c;
	cursor: default;
}


.header-menu-item{
	display: inline-block;
	height: 34px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	font-size: 16px;

}

.header-menu-item:hover{
	    border-bottom-width: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.userName{
	color: #16c479;
}


.header-menu-item:hover .header-unfoldable-menu-container{
	display: block;
}

.header-unfoldable-menu-container-background{
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5px,rgba(255,255,255,1) 5px, rgba(255,255,255,1) calc(100% - 5px),  rgba(255,255,255,0) calc(100% - 5px), rgba(190,190,190,0) 100%);
	position: absolute;
	width: 180px;
	top: 34px;
	right: -5px;
	z-index: -1;

}

.header-unfoldable-menu-container{
	height: 100%;
	margin-top: 0px;
	color: #12004c;
	margin-right: 5px;
	margin-left: 5px;
	display: none;
	width: 170px;
	box-shadow: 0px 5px 10px rgba(50,50,50,0.5);
	border-width: 0px;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	
}

.header-unfoldable-menu-item{
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	left: -6px;
	width: 180px;
	height: 28px;
	cursor: pointer;
}

.header-unfoldable-menu-item:hover{
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 2px,rgba(22,196,121,1) 2px, rgba(22,196,121,1) calc(100% - 2px),  rgba(255,255,255,0) calc(100% - 2px), rgba(190,190,190,0) 100%);

	color: white;
	}

.header-sub-menu-item{
	padding-left: 30px;
}

#content{
	height: calc(100vh - 34px);
	background-color: #f2f1f2;
	padding-top: 22px;
	padding-bottom: 22px;
	overflow:auto;
	position: relative;
}
#browser{
	background-color: #ffffff;
	width: 780px;
	height: 560px;
	margin-left: auto;
  	margin-right: auto;
  	box-shadow: 0px 0px 35px #8b8b94;
}
#browser-title{
	display: flex;
	background-color: #262255;
	width: 790px;
	height: 48px;
	position: absolute;
	top: calc(12px - 60px);
	left: -5px;
	padding: 10px;
	padding: 0;
	padding-left: 13px;
	padding-top: 4px;
}

#browser-title-text{
	color: white;
	font-size: 24px;
	letter-spacing: 0.01em;
	overflow: hidden;
    text-overflow: ellipsis;
    max-width: 550px;
    cursor: default;
}

#browser-title-edit{
	padding-top: 9px;
	padding-left: 9px;
	cursor: pointer;
}


.navBack{
	padding-top: 9px;
	margin-right: 9px;
}

.navBack div{
	cursor: pointer;
	height: 18px;
	width: 22px;
	background-image: url("https://s3-eu-west-1.amazonaws.com/libelios.web/static/app/img/atras.png");
}

.navBack div:hover{
	background-image: url("https://s3-eu-west-1.amazonaws.com/libelios.web/static/app/img/atras-over.png");
}

.arrow-left-container{
	padding-top: 13px;
    padding-left: 5px;
}
.arrow-left{
	width: 0; 
  	height: 0; 
  	border-top: 6px solid transparent;
  	border-bottom: 6px solid transparent; 
  	border-right: 6px solid #00c476; 
}
.information{
	background: #00c476;
	color: white;
	padding: 5px;
	padding-top: 3px;
	height: 30px;
	margin-top: 4px;
	font-weight: 300;
	box-shadow: 2px 3px 6px 0px rgba(175, 175, 175, 0.44); 
}

#mock-browser-title{
	width: 100%;
	height: 60px;
}

#searchbar-contaianer{
	background: white;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 28px;
	width: 155px;
	display: flex;
}

#searchbar-input{
	margin-top: 1px;
	margin-bottom: 1px;
	height: 26px;
	display: block;
	width: 127px;
	border-width: 0px;
	padding-left: 10px; 
	padding-top: 1px;
}

#searchbar-input:focus{
	outline: none;
}

#searchbar-input:focus + #search-results{
	display: block;
}

#search-results:hover{
	display: block;
}

#search-results{
	display: none;
	position: absolute;
	top: 38px;
	right: 0px;
	box-shadow: 0px 5px 10px rgba(50,50,50,0.5);
	border-width: 0px;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: lightgray;
	background: white;
}
.search-item{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	width: 200px;
	height: 30px;
	color: black;
	font-size: 15px;
}


.search-item:hover{
	background: #16c479;
	color: white;
	}

.searchbar-icon{
	padding-top: 2px;
	padding-left: 3px;
}

#browser-under-title{
	position: relative;
  	display: flex;
  	height: calc(560px - 60px);
}
#mock-menubar{
	width: 35px;
	height: 100%;
}
#menubar{
	width: 40px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -5px;
	z-index: 1;
	overflow: hidden;
	white-space: nowrap;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.18,.97,.23,.99);
}
#menubar:hover{
	width: 165px;
}
#menubar-content{
	margin-left: 5px;
	background-color: rgba(242, 241, 242, 0.8);
	height: 100%;
}
.menu-item{
	display: flex;
	width: 165px;
	height: 33px;
	position: relative;
	left: 0px;
	cursor: pointer;
	font-size: 15px;
	color: #262255;
}
.menu-item:hover{
	padding-left: 5px;
	left: -5px;
	opacity: 1;
	background: linear-gradient(to right, rgba(38,34,85,1) 0%,rgba(38,34,85,1) 5px,rgba(190,190,190,1) 5px,rgba(190,190,190,1) 100%);
}

.menu-item-green{
	display: flex;
	width: 165px;
	height: 33px;
	position: relative;
	left: 0px;
	cursor: pointer;
	font-size: 15px;
	color: #ffffff;
	background: #00c476;
}
.menu-item-green:hover{
	padding-left: 5px;
	left: -5px;
	opacity: 1;
	background: linear-gradient(to right, rgba(38,34,85,1) 0%,rgba(38,34,85,1) 5px,rgba(0,196,118,1) 5px,rgba(0,196,118,1) 100%);
}

.menu-item-inactive{
	display: flex;
	width: 165px;
	height: 33px;
	position: relative;
	left: 0px;
	cursor: default;
	font-size: 15px;
	color: #a8a8a8;
}
.menu-image{
	width: 35px;
}
.menu-description{
	width: 125px;
	padding-top: 5px;
    padding-bottom: 5px;
}
#workspace{
	padding: 10px;
	padding-left: 40px;
	padding-top: 10px;
	height: 100%;
	width: 750px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow:auto;
}

#icon-space{
	width: 120px;
	max-height: 157px;
	margin-right: 13px;
	margin-bottom: 3px;
}


#icon{

	width: 100%;
	max-height: 157px;
	text-align: center;
	cursor: pointer;
	font-size: 15px;
	color: #1a1a1a;
	position: relative;
	 border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

#icon:hover{
	border-color: #bbb4c8;
	border-style: dashed
}

#icon-content{
	width: 100%;
	max-height: 100%;
	word-wrap: break-word;
	padding: 2px;
}
#icon-content span{
	display: inline-block;
	max-width: 116px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;


}
#icon-image{
	width: 89px;
	height: 120px;
	position: absolute;
	top: 0;
	left: 14px;
}

.iconImagePlaceholder{
	width: 112px;
	height: 89px;
}
.grayscreen{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(100,100,100,0.5);
	z-index: 5;
}
.popup{
	width: 320px;
	background: #ffffff;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 35px #444444;
	font-size: 15px;
	color: #261055;
	padding: 10px;
}

.popup img{
	width: 35px;
	margin-top: 5px;
	vertical-align:bottom;
}

.grayscreenSub{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(100,100,100,0.5);
	z-index: 4;
}


.new-name{
	vertical-align:bottom;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	border-color: #15c479;
	border-style: solid;
	border-width: 1px;
	height: 22px;
}
.send{
	background-color: #16c479;
	color: white;
	font-size: 14px;
	margin-left: 10px;
	height: 21px;
	vertical-align:bottom;
	border-width: 0px;
	height: 22px;
}
.delete{
	background-color: #1c0b54;
	color: white;
	font-size: 14px;
	margin-left: 10px;
	height: 21px;
	vertical-align:bottom;
	border-width: 0px;
	height: 22px;
}

.button:hover{
	box-shadow: 0px 0px 5px 2px #8b8b94;
}

.editContent{
	width: 908px;
	height: 465px;
	background: #ffffff;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 35px #444444;
	color: #4c4c4c;
	padding: 0;
	font-weight: 400;
	font-size: 15px;
}

* {
	/*border: 1px solid red !important;*/
}

.editContentTop{
	height: 38px;
	width: 100%;
	box-shadow: 0px 4px 9px -2px rgba(38, 34, 85, 0.11);
	display: flex;
}

.editContentTitle{
	width: 880px;
	height: 100%;
	padding-top: 6px;
	padding-left: 18px;
	color: #1a1a1a;
	display: flex;
}

.editContentTitle div img{
	cursor: pointer;
	padding-top: 3px;
	padding-left: 7px;
}

.editContentClose{
	position: relative;
	width: 28px;
	height: 100%;
}

.editContentClose span{
	position: absolute;
	cursor: pointer;
	right: 8px;
    top: 6px;
	font-weight: 600;
}

.editContentMiddle{
	height: 427px;
	width: 100%;
	display: flex;
}
.editContentMiddleLeft{
	width: 518px;
	height: 100%;
}
.editContentMediaContainer{
	margin-top: 28px;
	margin-left: 24px;
	width: 482px;
	height: 388px;
}
.editContentMediaPlayer{
	height: 272px;
	width: 100%;
	background-color: #949494;
}
.editContentMediaInfo{
	height: 44px;
	width: 100%;
}
.editContentMiddleRight{
	width: 390px;
	height: 100%
}

.editContentMiddleRightTopSpace{
	width: 100%;
	height: 24px;
}
.editContentSection{
	/*height: 65px;*/
	width: 100%;
	display: flex;
	padding-bottom: 14px;
}

.editContentNum{
	height: 100%;
	width: 14px;
}

.editContentDes{
	height: 100%;
	width: 376px;
}

.inactiveText{
	color: #e8e8e8;
}

.defaultColors{
	display: flex;
	width: 100%;
	padding-top: 10px;
}

.defaultColorContainer{
	width: 22px;
}
.defaultColor{
	width: 14px;
	height: 14px;
	box-shadow: 1px 1px 9px 0px rgba(38, 34, 85, 0.2);
}

.colorCode{
	padding-top: 9px;
	color: #e8e8e8;
}

.colorCode input{
	height: 18px;
	width: 60px;
	border-color: #f9f9f9;
	border-style: solid;
	background-color: white;
}

.bold{
	font-weight: 600;
}

#no-item{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	justify-content: center;
	text-align:center;
}

.posButton{
	width: 112px;
	height: 24px;
	background-color: #808080;
	color: white;
	border-width: 0px;
	margin-right: 12px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.negButton{
	width: 112px;
	height: 24px;
	background-color: #b3b3b3;
	color: white;
	border-width: 0px;
	margin-right: 12px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.posButtonIn{
	width: 112px;
	height: 24px;
	background-color: #e6e6e6;
	color: white;
	border-width: 0px;
	margin-right: 12px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.negButtonIn{
	width: 112px;
	height: 24px;
	background-color: #f0f0f0;
	color: white;
	border-width: 0px;
	margin-right: 12px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.corpButton{
	width: 112px;
	height: 24px;
	background-color: #16c479;
	color: white;
	border-width: 0px;
	margin-right: 12px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.bmpui-ui-watermark{
	display: none;
}

.corpButton:hover, .posButton:hover, .negButton:hover{
	box-shadow: 0px 0px 9px 0px rgba(38, 34, 85, 0.7); 
	}

.nextButton{
	position: absolute;
	right: 18px;
    bottom: 16px;
	width: 160px;
	height: 30px;
	background-color: #16c479;
	color: white;
	border-width: 0px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 2px;
	padding-bottom: 3px;
}

.confDefaultButtons{
	margin-top: 9px;
}

.embedGeneration{
	margin-top: 9px;
	display: flex;
	position: relative;
}

.embedGenerationButton{
	width: 112px;
}

.embedGenerationDesc{
	top: -1px;
	font-size: 11px;
	color: #909089;
	width: 264px;
	position: relative;
	padding-left: 8px;
	line-height: 10px;
}
.embedGet{
	margin-top: 12px;
}
.embedGet input[type=text]{
	width: 258px;
	border-color: #dfdfdf;
	border-style: solid;
	background-color: white; 
	margin-right: 12px;
}
.embedGet input[type=submit]{
	width: 68px;
	height: 23px;
	background-color: #808080;
	border-width: 0px;
	color: white;
	margin-right: 12px;
}

.embedGet input[type=submit]{
	width: 68px;
	height: 23px;
	background-color: #808080;
	border-width: 0px;
	color: white;
	margin-right: 12px;
}

.embedGet input[type=submit]:hover{
	box-shadow: 0px 0px 9px 0px rgba(38, 34, 85, 0.7); 
}

.radialButtonsContainer{
	display: flex;
}

.radialButtonsUnit{
	padding-right: 22px;
}
.radialButtonsUnit img{
	cursor: pointer;
}
.radialButtonsUnit span{
	cursor: default;
}



.react-fine-uploader-container{
    width: 100%;
    height: calc(100% - 28px);
}

.react-fine-uploader-gallery-nodrop-container,
.react-fine-uploader-gallery-dropzone {
    margin-top: 28px;
    margin-left: 18px;
    margin-right: 18px;
    padding: 0px;
    height: 414px;
    border-radius: 0px;
}

.react-fine-uploader-gallery-dropzone {
    border: 2px dashed #00c476;
}

.react-fine-uploader-gallery-nodrop-container {
    border: 2px dashed #00c476;
}

.react-fine-uploader-gallery-file-input-container {
    background: #00c476;
    border: 0;
    border-radius: 0;
    margin-top: 12px;
    margin-left: 18px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    width: 160px;
    height: 30px;
}

.react-fine-uploader-gallery-file-input-container:hover {
	background: #00c476;
	box-shadow: 0px 0px 5px 2px #8b8b94;
}

.react-fine-uploader-gallery-file-input-container svg {
	display: none;
}

.react-fine-uploader-gallery-file-input-container span {
	color: white;
	font-size: 13.333px;
	font-weight: normal;
    font-family: "sofia-pro", Helvetica, Arial, sans-serif;
}

.react-fine-uploader-gallery-progress-bar,
.react-fine-uploader-gallery-total-progress-bar {
    background: #00c476;
    border-radius: 0px;
}

.react-fine-uploader-gallery-files {
    max-height: 100%;
    margin: 0;
}


.react-fine-uploader-gallery-dropzone-content,
.react-fine-uploader-gallery-nodrop-content {
    font-size: 18px;
    color: #cccccc;
    left: 0;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;
}

.react-fine-uploader-gallery-file {
    background-color: #FFFFFF;
    border-radius: 0px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.22);
    display: flex;
    font-size: 13px;
    height: 120px;
    line-height: 16px;
    margin: 0 10px 10px 10px;
    position: relative;
    vertical-align: top;
    width: 690px;
}

.react-fine-uploader-gallery-file-footer{
	width: 530px;
	position: relative;
}

.react-fine-uploader-gallery-thumbnail-container{
	position: relative;
	height: 120px;
	margin-left: 5px;
	margin-right: 5px;
}

.react-fine-uploader-gallery-upload-success-icon,
.react-fine-uploader-gallery-thumbnail-icon-backdrop,
.react-fine-uploader-gallery-upload-failed-icon{
	top: 50%;
}


.react-fine-uploader-thumbnail-not-available svg{
	height: 120px;
	width: 120px;
}


.windows8 {
	position: relative;
	width: 38px;
	height:38px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 36px;
	height: 36px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 3.0225s infinite;
		-o-animation: orbit 3.0225s infinite;
		-ms-animation: orbit 3.0225s infinite;
		-webkit-animation: orbit 3.0225s infinite;
		-moz-animation: orbit 3.0225s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 5px;
	height: 5px;
	background: rgb(39,9,85);
	left:0px;
	top:0px;
	border-radius: 5px;
}

.windows8 #wBall_1 {
	animation-delay: 0.656s;
		-o-animation-delay: 0.656s;
		-ms-animation-delay: 0.656s;
		-webkit-animation-delay: 0.656s;
		-moz-animation-delay: 0.656s;
}

.windows8 #wBall_2 {
	animation-delay: 0.133s;
		-o-animation-delay: 0.133s;
		-ms-animation-delay: 0.133s;
		-webkit-animation-delay: 0.133s;
		-moz-animation-delay: 0.133s;
}

.windows8 #wBall_3 {
	animation-delay: 0.2665s;
		-o-animation-delay: 0.2665s;
		-ms-animation-delay: 0.2665s;
		-webkit-animation-delay: 0.2665s;
		-moz-animation-delay: 0.2665s;
}

.windows8 #wBall_4 {
	animation-delay: 0.3995s;
		-o-animation-delay: 0.3995s;
		-ms-animation-delay: 0.3995s;
		-webkit-animation-delay: 0.3995s;
		-moz-animation-delay: 0.3995s;
}

.windows8 #wBall_5 {
	animation-delay: 0.533s;
		-o-animation-delay: 0.533s;
		-ms-animation-delay: 0.533s;
		-webkit-animation-delay: 0.533s;
		-moz-animation-delay: 0.533s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}